button {
  height: 95px;
  width: 95px;
  border-radius: 10px;
  color: #fdfffc;
  font-size: 72px;
  text-decoration: none;
  border: none;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  gap: 20px 20px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 450px;
  margin: auto;
  padding: 20px;
  background-color: #011627;
  border-radius: 10px;
}

.span {
  width: auto;
  grid-column-start: span 2;
}

.window {
  grid-column-end: span 4;
  background-color: #fdfffc;
  height: 143px;
  border-radius: 10px;
  font-size: 72px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
}

.red {
  background-color: #e71d36;
}

.green {
  background-color: #2ec4b6;
}

.orange {
  background-color: #ff9f1c;
}
