* {
  font-family: "Roboto Mono", monospace;
  word-spacing: -30px;
}

button {
  height: 95px;
  width: 95px;
  border-radius: 10px;
  color: #fdfffc;
  font-size: 72px;
  text-decoration: none;
  border: none;
  text-align: center;
}

button:active {
  transform: translateY(4px);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  gap: 20px 20px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 450px;
  margin: auto;
  margin-top: 1em;
  padding: 20px;
  background-color: #011627;
  border-radius: 10px;
}

.span {
  width: auto;
  grid-column-start: span 2;
}

.window {
  grid-column-end: span 4;
  background-color: #fdfffc;
  height: 143px;
  border-radius: 10px;
  font-size: 72px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.red {
  background-color: rgb(231, 29, 54);
}

.red:hover {
  background-color: rgb(231, 29, 54, 0.8);
}

.green {
  background-color: rgb(46, 196, 182);
}

.green:hover {
  background-color: rgb(46, 196, 182, 0.8);
}

.orange {
  background-color: rgb(255, 159, 28);
}

.orange:hover {
  background-color: rgb(255, 159, 28, 0.8);
}
